name: Tests

on:
  push:

jobs:
  shellcheck:
    name: ShellCheck
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Run Shellcheck
        uses: ludeeus/action-shellcheck@2.0.0
